.navbars {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 16x 60px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    padding-top: 30x;
    gap: 20px
    

}

.navbarsint:hover {
    background-color: #2b9af4;
}

.title {
    font-style: italic;
    font-weight: bold;
    color :black;
    padding: 40px 20px;
    text-align: center;
    font-size: xx-large;
}
.subtitle {
    font-style: italic;
    color :black;
    
    text-align: center;

}

.aboutme {
    display: grid;
}